<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Giúp nhau mùa dịch", suffix: " · Giúp nhau mùa dịch" %>
    <%= if is_prod() do %>
      <link rel="modulepreload" phx-track-static href="<%= Routes.static_path(@conn, "/assets/vendor.js") %>" />
      <link rel="stylesheet" phx-track-static href="<%= Routes.static_path(@conn, "/assets/app.css") %>" />
    <%end %>
    <script defer type="module" src="<%= assets_path(@conn, "app.js") %>"></script>
    <script>
      var global = window // For react-image-gallery
    </script>
  </head>
  <body>
    <%= @inner_content %>
    <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
      <div class="bg-gray-500 py-4">
        <div class="container">
          <%= link "Live Dashboard", class: "text-gray-50", to: Routes.live_dashboard_path(@conn, :home) %>
        </div>
      </div>
    <% end %>
    <div class="bg-gray-700 mb-16">
      <div class="container flex flex-wrap p-2 text-gray-400 justify-between text-xs">
        <p>
          Website hỗ trợ Group &nbsp;<a class="font-semibold" href="https://www.facebook.com/groups/535988687600718/" target="__blank">Giúp nhau mùa dịch</a>
        </p>
        <div class="flex items-center">
          <p>
            <a class="" href="/chinh-sach-bao-mat">Chính sách bảo mật</a>
          </p>
          <p>
            <a class="ml-4" href="https://github.com/joehua87/giupnhaumuadich" target="__blank">Source code</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
